{% extends "_base.html" %}

{% block title %}
{{ username }}
{% endblock title %}

{% block body %}
    <h1>Welcome, {{ username }}</h1>
    <p>Last Login: {{ lastlogin }}</p>
    <p>Account Created: {{ created }}</p>
    <p>User ID: {{ userid|default:"N/A" }}</p>
    <p>Gender: {{ user_gender|default:"N/A" }}</p>
    <p>Father's Name: {{ user_fathers_name|default:"N/A" }}</p>
    <p>Phone Number: {{ user_phonenumber|default:"N/A" }}</p>
    <p>Aadhar Number: {{ user_aadharnumber|default:"N/A" }}</p>
    <p>Address: {{ user_address|default:"N/A" }}</p>
    <p>Agent Name: {{ agent_name|default:"N/A" }}</p>

    <h2>Package Details</h2>
    <p>Package Name: {{package}}</p>
    <p>Package Terms:<p>
    {% if perks %}
        <ul>
            {% for perk in perks %}
                <li>{{ perk.terms }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No terms and conditions found for this package.</p>
    {% endif %}

    <p>Days Left in Package: {{ packagedaysleft|default:"0" }}</p>
    <p>Need for Recharge: {% if needforrecharge %}Yes{% else %}No{% endif %}</p>

    <h2>Payment History</h2>
    {% if allpayments %}
        <ul>
            {% for payment in allpayments %}
                <li>Payment ID: {{ payment.id }} - Amount: {{ payment.amount }} - Date: {{ payment.date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No payment records found.</p>
    {% endif %}
{% endblock body %}